body {
    overflow-x: hidden;
}

.btn-primary {
    background-color: #fed40d;
}

.active_sidebar {
    background-color: #fed40d;
    color: white !important;
    border-radius: 5px;
    padding: 1rem;
}

.active_sidebar:hover {
    background-color: #fed40d !important;
    border-radius: 5px;
    padding: 1rem;
}
